.footer_container {
    display: flex;
    height: 116px;
    background: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 4px 6px 23px #A9A9A911;
    align-items: center;
    justify-content: space-around;

    div {
        &:first-child {

            justify-content: flex-end;
        }

        &:last-child {

            margin-top: -40px;

            justify-content: flex-start;

            img {
                width: 536px;
                height: 248px;

                object-position:50% 50%;
                @media (max-width: 720px) {
                    width: 236px;
                    height: 248px;
                }

                @media (max-width: 500px) {
                    width: 206px;
                    height: 248px;
                }
            }
        }
    }
}

.footer_text {
    font-family: $primary_font;
    font-size: 60px;
    color: $secondary;
    white-space: nowrap;
    @media (max-width: 1000px) {
        font-size: 32px;
    }
    @media (max-width: 500px) {
        font-size: 28px;
    }
}