.footer_container {
    display: flex;
    height: 170px;
    background: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 4px 6px 23px #A9A9A911;
    opacity: 1;
    flex: 1;
    align-items: center;
    div {
        &:first-child {
            flex: 1.2;
            padding-left: 200px;
            p {
                font-family: $primary_font;
                font-size: 60px;
                color: $secondary;
                white-space: nowrap;
            }
        }
        &:last-child {
            margin-top: -10px;
            flex: 0.5;
            padding-right: 200px;
            img {
                width: 536px;
                height: 248px;
            }
        }
    }
}