.landing_banner_img {

    height: 430px;
    width: 100%;
    align-self: center;
    object-fit: cover;
    background-position: 50% 50%;
}

.landing_container {
    position: relative;
    text-align: center;
    color: white;
}

.landing_div_text {
    position: absolute;
    top: 80px;
    left: 18%;
    @media (max-width: 600px) {
        left: 14%;
        top: 76px;
    }

    h2 {
        font-family: $secondary_font;
        font-weight: 100;
        color: "white";
        font-size: 80px;

        @media (max-width: 600px) {
            font-size: 60px;
        }
    }
}

.landing_div_text_2 {
    position: absolute;
    top: 142px;
    left: 18%;
    @media (max-width: 600px) {
        top: 126px;
        left: 14%;
    }
    h2 {
        font-family: $primary_font;
        font-weight: 100;
        color: "white";
        font-size: 80px;

        @media (max-width: 600px) {
            font-size: 60px;
        }
    }
}

.landing_banner_card_container {
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 120px;
    border-radius: 16px;
    opacity: 1;

    @media (max-width: 720px) {
        margin-bottom: 160px;
    }

    @media (max-width: 359px) {
        margin-bottom: 300px;
    }
}